@import '../../vendor/livewire/flux/dist/flux.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .bg-theme-primary {
        @apply bg-zinc-50 /*dark:bg-zinc-800*/;
    }

    .bg-theme-secondary {
        @apply bg-zinc-200 /*dark:bg-zinc-700/40*/;
    }
}

@source "../node_modules/flowbite-datepicker";
